:root {
  --t-c-primary: #003333;
  --t-c-accent: #DC2626;

  --o-c-primary: #0033334D;

  --bg-c-primary: #ffff00;

  --br-r: .25rem;
  --br-c: var(--t-c-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --t-c-primary: #ffff00;

    --o-c-primary: #ffff004D;

    --bg-c-primary: #003333;

    --br-c: var(--t-c-primary);
  }
}
